# Project name 
PROJECT_NAME={{ project }}
SL_DATABASE={{ db_sl_name }}
GAME_DATABASE={{ db_game_name }}
{% if project == 'wowp' %}
  {% set acc_tbl = 'tbl_AccountController' %}
  {% set acc_dsr = 'wgRankDossiers'  %}
{% else %}
  {% set acc_tbl = 'tbl_Account' %}
  {%- set acc_dsr = 'wgDossiers'  %}
{% endif %}
ACCOUNTS_TABLE={{ acc_tbl }}
DOSSIERS_TABLE={{ acc_dsr }}

